.flex-container {
  background-color:#f0efef;

  background-size: contain;
  height: 500px;
  border: 28px;
  border-radius: 28px ;
  width: 400px;
  box-shadow: 15px 15px 15px #c4c4c4, -20px -20px 20px #ffffff;
  position: absolute;
  left: 550px;
  bottom: 100px;
  
}

.image {
  position: absolute;
  padding-left: 40px;
  left: 38px;
  top: 20px;
}

.image2 img {
  margin-top: 3px;
  margin-left: 90px;
  height: 150px;
  width: 200px;
}

body {
  background-color: rgb(236 233 233);
}

.search input {
  outline: none;
  width: 300px;
  color: rgb(250, 3, 3);
  transition-duration: 0.5s;
  background-color: rgb(226, 220, 220);
  position: relative;
  margin-top: 90px;
  top: 200px;
  left: 50px;
  border: transparent 5px solid;
  border-radius: 10px;
  box-shadow: 6px 5px 15px #4f4e4e, -9px -8px 15px #ffffff;
}

.search :hover {
  background-color: rgb(7, 6, 6);
  color: crimson;
}

.but {
  border: none;
  position: absolute;
  background-color: red;
  border-radius: 10px;
  transition-duration: 0.45s;
  height: 40px;
  margin-top: 80px;
  width: 200px;
  color: #fff;
  top: 250px;
  left: 100px;
  border-radius: 50px;
  cursor: pointer;
}

.but:hover {
  background-color: black;
  color: crimson;
}

.art {
  text-shadow: rgb(97, 202, 150) 20px 20px;
  color: rgb(11, 12, 12);
  position: absolute;
  margin-top: 90px;
  top: 140px;
  left: 75px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px rgb(21, 22, 22);
}

.icon img {
  height: 40px;
  width: 40px;
  position: absolute;
  bottom: 10px;
  box-shadow: 5px 5px 15px rgb(168, 165, 165) -5px -5px 15px rgb(31, 30, 30);
  left: 9rem;
}

.icon1 img {
  margin-left: 210px;
  position: absolute;
  bottom: 15px;
  height: 30px;
  box-shadow:8px 9px 20px #f5f1f1;
  width: 45;
  transition-duration: 0.45s;
}
